<% layout("/layouts/boilerplate.ejs") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h2>Edit this Listing </h2>
        <form method="post" action="/listings/<%= editListing._id %>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title :</label>
                <input class="form-control" type="text" name="listing[title]" id="title" value="<%= editListing.title  %>"  required/>
                <div class="valid-feedback">Title looks good!</div>
                <div class="invalid-feedback">Title cannot be empty!</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description :</label>
                <textarea class="form-control" name="listing[description]" id="description" required><%= editListing.description  %></textarea>
                <div class="invalid-feedback">Description cannot be empty!</div>
            </div>
            <div class="mb-3">
                <label for="img-preview" class="form-label">Original Image Preview :</label><br/>
                <img src="<%= originalImageUrl %>" id="img-preview" />
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Upload New Image :</label>
                <input class="form-control" type="file" name="listing[image]" id="image" />
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price :</label>
                    <input class="form-control" type="number" name="listing[price]" id="price" value="<%= editListing.price%>" required/>
                    <div class="invalid-feedback">Price cannot be empty!</div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country :</label>
                    <input class="form-control" type="text" name="listing[country]" id="country" value="<%= editListing.country %>" required/>
                    <div class="invalid-feedback">Country name cannot be empty!</div>
                </div>
            </div>
            <div class ="mb-3">
                <label for="location" class="form-label">Location :</label>
                <input class="form-control" type="text" id="location" name="listing[location]" value="<%= editListing.location %>" required/>
                <div class="invalid-feedback">Location cannot be empty!</div>
            </div>
            <div class="mb-3 mt-3">
                <button class="btn btn-primary" type="submit">Edit</button>
            </div>
        </form>
    </div>
</div>