<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StayNest</title>
    <style>
        img{
            height: 10rem;
            width: 10rem;
        }
        h1{
            text-align: center;
            margin: 1rem;
        }
    </style>
</head>
<body>
    <h1>Property Listing</h1>
    <hr/>
        <p>Title : <%= listing.title  %></p>
        <p>Description : <%= listing.description %></p>
        <p>Image : </p>
        <img src="<%= listing.image %>" alt="property-image"/>
        <p>Price : <%= listing.price %></p>
        <p>Location : <%= listing.location %></p>
        <p>Country : <%= listing.country %></p>
    <hr/>
    <a href="/listings/<%= listing._id  %>/edit">Edit</a>
    <br>
    <form method="post" action="/listings/<%= listing._id  %>?_method=Delete">
        <button type="submit">Delete</button>
    </form>
</body>
</html>